<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title>About Me</title>
</head>

<body>
    <nav id="na">
        <div id="main">
        <span id="title">
            <img src="../static/images/logo.png" alt="" id="logo">
            <h1 id="nTitle">< Foyez Rabbi /></h1>
        </span>
        </div>
        <div id="links">
            <ul id="li">
            <li class="nav"><a href="home" class="navLink">Home </a></li>
            <li class="nav"><a href="about" class="navLink">About Me</a></li>
            <li class="nav"><a href="content" class="navLink">Content </a></li>
            <li class="nav"><a href="chatbot" class="navLink" target="_blank">Chat Bot </a></li>
        </ul>
        </div>
    </nav>


<h1 id="mtitle">About Me </h1>
<div id="container">
        <article>
            <p id="para">Hello once again, <br>
            I am Foyez Rabbi. I am python developer and front end developer.
            Currently, I am 19 years old.
            I am from <b><i>  Mymensingh, Dhaka, Bangladesh
            </i></b>. I have lots of skill on making <b> Discord Bots</b>
            . I have some knowledge on <b>Microsoft , Word , Excel</b>
            I can type 100 Word-Per-Minute. I am owner of Code School Bangladesh [Discord Server].
        </p>
        </article>
        <img src="../static/images/opp.webp" alt="" id="png">
    </div>
</body>

</html>