<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/content.css">
    <title>Content</title>
  </head>

  <body>
    <nav id="na">
        <div id="main">
        <span id="title">
            <img src="../static/images/logo.png" alt="" id="logo">
            <h1 id="nTitle">< Foyez Rabbi /></h1>
        </span>
        <div id="links">
            <ul id="li">
            <li class="nav"><a href="home" class="navLink">Home </a></li>
            <li class="nav"><a href="about" class="navLink">About Me</a></li>
            <li class="nav"><a href="content" class="navLink">Content </a></li>
            <li class="nav"><a href="chatbot" class="navLink" target="_blank">Chat Bot </a></li>
        </ul>
        </div>
    </nav>
</div>
<h1 id="inTitle">Content</h1>
    <div id="content">
      <iframe
        width="427"
        height="209"
        src="https://www.youtube.com/embed/dkqWypXVPmo"
        title="Create a deadly Ransomware using python|শুধুমাত্র শিক্ষাগত উদ্দেশ্য|Code With Rabbi"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="video"
      ></iframe>

      <iframe
        width="427"
        height="209"
        src="https://www.youtube.com/embed/f882Kghydb4"
        title="Sharingan Using Python Turtle || Code With Rabbi"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="video"
      ></iframe>

      <iframe
        width="454"
        height="209"
        src="https://www.youtube.com/embed/hLnwt8hbMFk"
        title="Generate unlimited NeoenBD Account using 30 Lines of Python"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        class="video"
      ></iframe>
    </div>
  </body>
</html>
