<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
 
    <title>Rabbi</title>
</head>
<body>
    <nav id="na">
        <div id="main">
        <span id="title">
            <img src="../static/images/logo.png" alt="logo" id="logo">
            <h1 id="nTitle">< Foyez Rabbi /></h1>
        </span>
        <div id="links">
            <ul id="li">
            <li class="nav"><a href="home" class="navLink" >Home </a></li>
            <li class="nav"><a href="about" class="navLink" >About Me </a></li>
            <li class="nav"><a href="content" class="navLink" >Content </a></li>
            <li class="nav"><a href="chatbot" class="navLink" target="_blank">Chat Bot </a></li>
        </ul>
        </div>
    </nav>
</div>
    <div id="intro">
        <img src="../static/images/weee.webp" alt="" id="png">
        <article id="inTitle">
        <p class="int">Hello there 👋,</p>
         <p class="int">I am <b> Foyez Rabbi. </b></p>    
         <p class="int"> Welcome to my website.</p>
        <p class="int"> I am python Developer and front-end developer.</p>
        </article>
    </div>
    <a href="about"><button id="moreBtn">More About Me </button></a>
</body>
</html>